{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(218, 219, 121);

}

main {
    background-color: rgb(0, 0, 0);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(94, 69, 69, 0.24);

}

h1 {
    font-size: 2em;
    color:rgb(223, 224, 123);

}

h2 {
    font-size: 1.5em;
    color:rgb(223, 224, 123);
   
}

h3 {
    font-size: 1.5em;
    color: rgb(223, 224, 123);
}

h4 {
    font-size: 1.5em;
    color: rgb(223, 224, 123);
}

h5 {
    font-size: 1.5em;
    color: rgb(223, 224, 123);
}

h6 {
    font-size: 1.5em;
    color: rgb(223, 224, 123);
}

img.lado {
    float: right;
}

a {
    text-decoration: none;
    font-weight: bold;
    color:rgb(90, 90, 223);

}

a:hover {
    text-decoration: underline;
    color:rgb(90, 90, 223);
}